MVC/WebStore/Service References/ProductServiceReference/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37941/Services/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37941/Services/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:37941/Services/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Service.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsByCat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByCat" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsByCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByCatResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsBySubCat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsBySubCat" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsBySubCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsBySubCatResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByID" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_EditProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_EditProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSubCategoryByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubCategoryByID" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSubCategoryByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubCategoryByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSubCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubCategory" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSubCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsByTopSales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByTopSales" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsByTopSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByTopSalesResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProducts" message="tns:IProductService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductsResponse" message="tns:IProductService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductsByCat" message="tns:IProductService_GetProductsByCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductsByCatResponse" message="tns:IProductService_GetProductsByCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsBySubCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductsBySubCat" message="tns:IProductService_GetProductsBySubCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductsBySubCatResponse" message="tns:IProductService_GetProductsBySubCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductByID" message="tns:IProductService_GetProductByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductByIDResponse" message="tns:IProductService_GetProductByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddProduct" message="tns:IProductService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddProductResponse" message="tns:IProductService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/EditProduct" message="tns:IProductService_EditProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/EditProductResponse" message="tns:IProductService_EditProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DeleteProduct" message="tns:IProductService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DeleteProductResponse" message="tns:IProductService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubCategoryByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetSubCategoryByID" message="tns:IProductService_GetSubCategoryByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetSubCategoryByIDResponse" message="tns:IProductService_GetSubCategoryByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetSubCategory" message="tns:IProductService_GetSubCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetSubCategoryResponse" message="tns:IProductService_GetSubCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByTopSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductsByTopSales" message="tns:IProductService_GetProductsByTopSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductsByTopSalesResponse" message="tns:IProductService_GetProductsByTopSales_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCat">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductsByCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsBySubCat">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductsBySubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/EditProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubCategoryByID">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetSubCategoryByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubCategory">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetSubCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByTopSales">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductsByTopSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:37941/Services/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>