UnitTest - WCF/Service References/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6315/CustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6315/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6315/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_createCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:createCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_createCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:createCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_getCustIDByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustIDByUsername" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_getCustIDByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustIDByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_getAddressesByCustID_InputMessage">
    <wsdl:part name="parameters" element="tns:getAddressesByCustID" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_getAddressesByCustID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAddressesByCustIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_createAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:createAddress" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_createAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:createAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="createCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/createCustomer" message="tns:ICustomerService_createCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/createCustomerResponse" message="tns:ICustomerService_createCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustIDByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/getCustIDByUsername" message="tns:ICustomerService_getCustIDByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/getCustIDByUsernameResponse" message="tns:ICustomerService_getCustIDByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAddressesByCustID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/getAddressesByCustID" message="tns:ICustomerService_getAddressesByCustID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/getAddressesByCustIDResponse" message="tns:ICustomerService_getAddressesByCustID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/createAddress" message="tns:ICustomerService_createAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/createAddressResponse" message="tns:ICustomerService_createAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/createCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustIDByUsername">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/getCustIDByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddressesByCustID">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/getAddressesByCustID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAddress">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/createAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:6315/CustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>