MVC/WebStore/Service References/OrderServiceReference/OrderService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderDetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetailItem" nillable="true" type="tns:OrderDetailItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetailItem" nillable="true" type="tns:ArrayOfOrderDetailItem" />
  <xs:complexType name="OrderDetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetailItem" nillable="true" type="tns:OrderDetailItem" />
</xs:schema>