MVC/WebStore/Service References/OrderServiceReference/OrderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37941/Services/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Service.DataTransferObjects" />
  <xs:element name="addOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service.DataTransferObjects" minOccurs="0" name="newOrder" nillable="true" type="q1:OrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Service.DataTransferObjects" minOccurs="0" name="getOrdersResult" nillable="true" type="q2:ArrayOfOrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>